Repository Enet4/dicom-rs, pull requests merged in 2022-02, with the labels that each got.

#213 Enhanced pixeldata and pixel data encoding
  encoding/src/adapters/mod.rs
  encoding/src/adapters/rle_lossless.rs
  encoding/src/transfer_syntax/mod.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
Labels: breaking change, C-lib

#217 Update to presentation context handling
  storescu/src/main.rs
  ul/src/association/client.rs
  ul/tests/association.rs
Labels: breaking change, C-lib

#218 Add association test for Store SCU/SCP
  ul/tests/association_echo.rs
  ul/tests/association_store.rs
Labels: C-lib

#219 Collect transfer syntax factory - inventory 0.2
  encoding/Cargo.toml
  encoding/src/adapters/mod.rs
  encoding/src/lib.rs
  encoding/src/transfer_syntax/mod.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/submit_dataset.rs
  transfer-syntax-registry/tests/submit_pixel.rs
  transfer-syntax-registry/tests/submit_replace.rs
  transfer-syntax-registry/tests/submit_replace_precondition.rs
Labels: enhancement, breaking change, C-lib

#220 Add pixeldata crate to parent library crate
  parent/Cargo.toml
  parent/README.md
  parent/src/lib.rs
Labels: enhancement, C-lib

#223 [encoding] Convert doc comment and fix doctest of SpecificCharacterSet::from_code
  encoding/src/text.rs
Labels: bug

#224 [object] Revisit element methods
  echoscu/src/main.rs
  object/src/lib.rs
  object/src/mem.rs
  storescu/src/main.rs
Labels: enhancement, C-lib
