Repository Enet4/dicom-rs, pull requests merged in 2022-12, with the labels that each got.

#310 - replace deprecated chrono calls
  core/src/value/deserialize.rs
  core/src/value/partial.rs
  core/src/value/primitive.rs
  core/src/value/range.rs
  core/src/value/serialize.rs
  dump/src/lib.rs
  parser/src/stateful/decode.rs
Labels: chore, C-lib

#316 [CI] Update actions
  .github/workflows/rust.yml
Labels: chore

#315 Update image and jpeg decoder
  encoding/Cargo.toml
  fromimage/Cargo.toml
  fromimage/src/main.rs
  pixeldata/Cargo.toml
Labels: A-lib, C-encoding, C-pixeldata, C-fromimage

#317 Shrink size of GetAttributeError
  pixeldata/src/attribute.rs
Labels: enhancement, A-lib, C-pixeldata

#314 [parser] force encoding DS and IS values as text
  object/src/mem.rs
  parser/src/stateful/encode.rs
Labels: bug, A-lib, C-parser

#304 Add PrimitiveValue::extend_*
  core/src/value/mod.rs
  core/src/value/primitive.rs
Labels: enhancement, A-lib, C-core

#320 Clippy lint fix (2022-12)
  dictionary-builder/src/main.rs
  parser/src/stateful/encode.rs
  storescp/src/main.rs
  storescu/src/main.rs
  ul/src/association/pdata.rs
  ul/src/pdu/writer.rs
Labels: chore, C-parser, C-ul, C-dictionary-builder, C-storescu, C-storescp

#321 Remove .travis.yml
  .travis.yml
Labels: chore

#322 Update gdcm-rs to v0.5
  pixeldata/Cargo.toml
  pixeldata/src/gdcm.rs
Labels: enhancement, A-lib, C-pixeldata
