Repository Enet4/dicom-rs, pull requests merged in 2023-04, with the labels that each got.

#335 Leading whitespaces in VR DS and IS
  core/src/value/primitive.rs
Labels: bug, A-lib, C-core

#338 Handle C-ECHO request in storeSCP CLI tool
  storescp/src/main.rs
  storescp/src/transfer.rs
Labels: enhancement, A-tool, C-storescp

#339 Extend value retrieval API for encapsulated pixel data
  core/src/header.rs
  core/src/value/mod.rs
Labels: enhancement, chore, A-lib

#238 Feature gate capabilities: image, ndarray, rayon
  .github/workflows/rust.yml
  encoding/Cargo.toml
  pixeldata/Cargo.toml
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
  pixeldata/src/lut.rs
  toimage/Cargo.toml
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
Labels: enhancement, breaking change, A-lib, C-pixeldata, C-transfer-syntax

#340 Fix and improve pixel sequence printing
  dump/src/lib.rs
Labels: bug, enhancement, A-lib, A-tool, C-dump

#341 Update Cargo.lock files
  .gitignore
  Cargo.lock
  object/fuzz/Cargo.lock
  pixeldata/fuzz/Cargo.lock
  ul/fuzz/Cargo.lock
Labels: chore, A-lib, A-tool, A-fuzz

#326 Add attribute operations API
  core/src/header.rs
  core/src/lib.rs
  core/src/ops.rs
  core/src/value/primitive.rs
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
  object/src/ops.rs
Labels: enhancement, A-lib, C-object, C-core
