Repository Enet4/dicom-rs, pull requests merged in 2023-06, with the labels that each got.

#355 Clippy lint fix (2023-06)
  core/src/header.rs
  core/src/value/deserialize.rs
  core/src/value/person_name.rs
  core/src/value/primitive.rs
  dump/src/lib.rs
  encoding/src/text.rs
  encoding/src/transfer_syntax/mod.rs
  object/src/lib.rs
  object/src/util.rs
  parser/src/dataset/lazy_read.rs
  parser/src/dataset/read.rs
  parser/src/stateful/decode.rs
  parser/src/stateful/encode.rs
  parser/src/util.rs
  pixeldata/src/lib.rs
  pixeldata/src/lut.rs
  pixeldata/src/transform.rs
  storescu/src/main.rs
Labels: chore, C-object, C-encoding, C-parser, C-core, C-pixeldata, C-storescu, C-dump

#353 Changes to DicomValue API and sequences
  core/src/header.rs
  core/src/value/mod.rs
  core/src/value/primitive.rs
  dump/src/lib.rs
  object/src/lib.rs
  object/src/mem.rs
  object/tests/integration_test.rs
  parser/src/dataset/mod.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
Labels: breaking change, C-core

#354 Change ReadPreamble::Auto to automatic preamble detection
  object/src/file.rs
  object/src/mem.rs
  object/tests/integration_test.rs
Labels: enhancement, C-object

#358 Update cargo locks
  Cargo.lock
  object/fuzz/Cargo.lock
  pixeldata/fuzz/Cargo.lock
  ul/fuzz/Cargo.lock
Labels: chore

#344 Split errors in object crate
  findscu/src/main.rs
  object/src/file.rs
  object/src/lib.rs
  object/src/mem.rs
  object/tests/integration_test.rs
  pixeldata/src/attribute.rs
  storescu/src/main.rs
Labels: breaking change, C-object, C-pixeldata, C-storescu, C-findscu

#345 Change PDU association variants and association types
  ul/src/association/client.rs
  ul/src/association/server.rs
  ul/src/pdu/mod.rs
  ul/src/pdu/reader.rs
  ul/src/pdu/writer.rs
  ul/tests/pdu.rs
Labels: breaking change, A-lib, C-ul

#357 Expand DataDictionary trait with new default methods
  core/src/dictionary/mod.rs
  dictionary-std/src/lib.rs
  findscu/src/query.rs
Labels: enhancement, C-core, C-findscu

#359 Extend transfer_syntax module and re-export inventory
  Cargo.lock
  encoding/src/lib.rs
  encoding/src/transfer_syntax/mod.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/submit_pixel_stub.rs
Labels: enhancement, C-encoding, C-transfer-syntax

#360 Change attribute actions (Set, SetIfMissing, Replace)
  core/src/ops.rs
  object/src/mem.rs
  object/src/meta.rs
  object/src/ops.rs
Labels: enhancement, breaking change, C-object, C-core

#363 Support parsing "ggggeeee" to Tag
  core/src/header.rs
Labels: enhancement, C-core

#366 Fix using dicom_value! without smallvec import
  Cargo.lock
  core/src/lib.rs
  core/tests/dicom_value.rs
  echoscu/Cargo.toml
  findscu/src/main.rs
  storescp/Cargo.toml
  storescu/src/main.rs
Labels: bug, C-core

#367 Support group length tags in dictionary, update dictionary-std documentation and implementation
  Cargo.lock
  core/src/dictionary/mod.rs
  dictionary-std/Cargo.toml
  dictionary-std/src/lib.rs
Labels: breaking change, C-dictionary, C-core

#369 Add dicom-dump to parent crate & extend documentation
  Cargo.lock
  parent/Cargo.toml
  parent/src/lib.rs
Labels: enhancement, A-lib, C-parent

#365 New command_from_element_iter constructor functions for DICOM objects
  echoscu/src/main.rs
  findscu/src/main.rs
  object/src/mem.rs
  storescp/src/main.rs
  storescu/src/main.rs
Labels: enhancement, C-object

#370 Support private creator element detection in dictionary
  core/src/dictionary/mod.rs
  dictionary-std/src/lib.rs
Labels: breaking change, C-dictionary, C-core

#375 [core] Fix documentation in value module
  core/src/value/mod.rs
Labels: A-lib, C-core

#372 New UID constants + SOP class dictionary
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  core/src/dictionary/data_element.rs
  core/src/dictionary/mod.rs
  core/src/dictionary/stub.rs
  core/src/dictionary/uid.rs
  core/src/header.rs
  devtools/dictionary-builder/.gitignore
  devtools/dictionary-builder/Cargo.toml
  devtools/dictionary-builder/README.md
  devtools/dictionary-builder/src/common.rs
  devtools/dictionary-builder/src/main.rs
  devtools/dictionary-builder/src/tags.rs
  devtools/dictionary-builder/src/uids.rs
  dictionary-builder/README.md
  dictionary-std/Cargo.toml
  dictionary-std/src/data_element.rs
  dictionary-std/src/lib.rs
  dictionary-std/src/sop_class.rs
  dictionary-std/src/tags.rs
  dictionary-std/src/uids.rs
  dump/Cargo.toml
  dump/src/lib.rs
  encoding/src/decode/implicit_le.rs
  object/src/mem.rs
Labels: breaking change, C-dictionary, C-core, C-dictionary-builder, C-dump

#376 Extend value sequence implementations
  core/src/value/mod.rs
Labels: A-lib, C-core

#312 Pixel encapsulation
  core/src/value/fragments.rs
  core/src/value/mod.rs
  pixeldata/src/encapsulation.rs
  pixeldata/src/lib.rs
Labels: enhancement, A-lib, C-pixeldata

#377 [core] Extend value/element API a bit more
  core/src/header.rs
  core/src/value/mod.rs
Labels: enhancement, A-lib, C-core

#379 Fix documentation in dicom_dictionary_std::sop_class module
  dictionary-std/src/lib.rs
  dictionary-std/src/sop_class.rs
Labels: bug, A-lib, C-dictionary
