Repository Enet4/dicom-rs, pull requests merged in 2023-07, with the labels that each got.

#384 [echoscu] Enhance verbose output
  Cargo.lock
  echoscu/Cargo.toml
  echoscu/src/main.rs
Labels: enhancement, A-tool

#378 Extend object updating API and extend documentation
  object/src/lib.rs
  object/src/mem.rs
Labels: enhancement, A-lib, C-object

#385 [findscu] Do not override query retrieve level
  findscu/src/main.rs
Labels: bug, C-findscu

#381 [findscu] Add support for modality worklist information model
  findscu/src/main.rs
Labels: enhancement, A-tool, C-findscu

#386 [parent] tweak root crate documentation
  parent/src/lib.rs
Labels: enhancement, A-lib, C-parent

#383 Enhance attribute operations to support sequential attribute selectors
  core/src/dictionary/data_element.rs
  core/src/header.rs
  core/src/ops.rs
  core/src/value/primitive.rs
  dictionary-std/src/data_element.rs
  object/src/mem.rs
  object/src/meta.rs
  object/src/ops.rs
Labels: enhancement, breaking change, C-object, C-dictionary, C-core

#387 Use attribute ops API for C-FIND query construction
  findscu/README.md
  findscu/src/query.rs
Labels: enhancement, A-tool, C-findscu

#388 [findscu] Support combining query file with query options
  findscu/README.md
  findscu/src/main.rs
  findscu/src/query.rs
Labels: enhancement, A-tool, C-findscu

#389 Remove unneeded PartialEq impls for Tag
  core/src/header.rs
  encoding/src/decode/implicit_le.rs
  object/src/meta.rs
Labels: breaking change, A-lib, C-core

#373 New json crate
  Cargo.lock
  Cargo.toml
  json/Cargo.toml
  json/README.md
  json/src/de/mod.rs
  json/src/de/value.rs
  json/src/lib.rs
  json/src/ser/mod.rs
  json/src/ser/value.rs
Labels: A-lib

#390 [core] Change default type parameter P of DataElement
  core/src/header.rs
Labels: breaking change, A-lib, C-core

#391 [core] add prelude module
  core/src/lib.rs
  core/src/prelude.rs
  core/tests/using_prelude.rs
Labels: A-lib, c-new

#393 Fix RLE lossless decoding
  .github/workflows/rust.yml
  pixeldata/src/lib.rs
  transfer-syntax-registry/src/adapters/rle_lossless.rs
Labels: bug, A-lib, C-pixeldata, C-transfer-syntax

#361 Change transfer syntax API for more pixel data codec flexibility
  encoding/src/adapters.rs
  encoding/src/transfer_syntax/mod.rs
  object/src/lib.rs
  object/src/meta.rs
  pixeldata/Cargo.toml
  pixeldata/src/lib.rs
  pixeldata/tests/image_reader.rs
  storescp/src/main.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpeg.rs
  transfer-syntax-registry/src/adapters/rle_lossless.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/base.rs
  transfer-syntax-registry/tests/submit_dataset.rs
  transfer-syntax-registry/tests/submit_pixel.rs
  transfer-syntax-registry/tests/submit_pixel_stub.rs
  transfer-syntax-registry/tests/submit_replace.rs
  transfer-syntax-registry/tests/submit_replace_precondition.rs
  ul/src/association/server.rs
Labels: breaking change, C-object, C-encoding, C-pixeldata, C-transfer-syntax, C-ul

#394 [object] Add method value_at
  object/src/lib.rs
  object/src/mem.rs
Labels: enhancement, A-lib, C-object

#303 Encoding to JPEG transfer syntaxes
  Cargo.lock
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpeg.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/tests/adapters/mod.rs
  transfer-syntax-registry/tests/jpeg.rs
Labels: enhancement, A-lib

#395 Clippy lint fixing (pre-0.6)
  devtools/dictionary-builder/src/uids.rs
  encoding/src/decode/basic.rs
  json/src/ser/mod.rs
  object/src/lib.rs
  parser/src/stateful/decode.rs
  pixeldata/src/lib.rs
Labels: chore, C-pixeldata, C-dictionary-builder, C-json

#380 Update implementation class & version for DICOM-rs 0.6
  object/src/lib.rs
  ul/src/lib.rs
Labels: chore, C-object, C-ul

#399 [Fix] BOT generation for encapsulated data
  core/src/value/fragments.rs
  pixeldata/src/encapsulation.rs
Labels: bug, A-lib, C-core, C-pixeldata

#400 [pixeldata] Update rstest to 0.18
  Cargo.lock
  pixeldata/Cargo.toml
Labels: chore, C-pixeldata
