Repository Enet4/dicom-rs, pull requests merged in 2023-11, with the labels that each got.

#433 Adjust features for easier building on Windows
  .github/workflows/rust.yml
  pixeldata/Cargo.toml
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpeg2k.rs
  transfer-syntax-registry/src/adapters/mod.rs
Labels: A-lib, O-windows

#434 [findscu] Add response status check in C-FIND-RSP response data set
  findscu/src/main.rs
Labels: bug, A-tool, C-findscu

#435 Move dicom-test-files in dicom-json to dev dependencies
  json/Cargo.toml
Labels: enhancement, A-lib, C-json

#436 [dump] Extend no_text_limit option to more VRs
  dump/src/lib.rs
Labels: A-lib, C-dump

#422 Decode single frame using GDCM
  pixeldata/src/gdcm.rs
Labels: A-lib, C-pixeldata

#441 [dump] Update owo-colors to 0.4.0-rc.1
  Cargo.lock
  dump.txt
  dump/Cargo.toml
Labels: chore, A-lib, C-dump

#442 Update dependencies (2023-11 general maintenance)
  Cargo.lock
  core/Cargo.toml
  object/Cargo.toml
  object/fuzz/Cargo.lock
  pixeldata/fuzz/Cargo.lock
  ul/fuzz/Cargo.lock
Labels: chore, A-lib, A-tool
