Repository Enet4/dicom-rs, pull requests merged in 2024-12, with the labels that each got.

#607 Broken pixel_data fix: support parsing improperly closed encapsulated pixel data
  parser/src/dataset/read.rs
Labels: A-lib, C-parser, compatibility

#601 Use the voi function, window and rescale of the decoded frame
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#606 [ul] BUG: Share underlying buffer from client/server to `PDataReader`
  ul/src/association/client.rs
  ul/src/association/mod.rs
  ul/src/association/pdata.rs
  ul/src/association/server.rs
Labels: bug, A-lib, C-ul

#611 Clippy lint fixes (2024-12)
  core/src/value/primitive.rs
  devtools/dictionary-builder/src/tags.rs
  parser/src/dataset/read.rs
  ul/src/association/client.rs
  ul/src/association/pdata.rs
  ul/src/association/server.rs
Labels: chore, C-parser, C-core, C-ul, C-dictionary-builder

#603 Do not set query retrieve level for worklist
  .github/workflows/rust.yml
  findscu/src/main.rs
Labels: bug, A-tool, C-findscu

#610 [ul] Add robustness in byte availability to PDU reading
  ul/fuzz/Cargo.lock
  ul/fuzz/fuzz.sh
  ul/fuzz/fuzz_targets/pdu_roundtrip.rs
  ul/src/pdu/reader.rs
Labels: bug, A-lib, C-ul, A-fuzz

#598 [pixeldata] Allow overriding the VoiLutFunction
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#612 [ts-registry] Update jpegxl decoder
  Cargo.lock
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpegxl.rs
Labels: enhancement, A-lib, C-transfer-syntax

#613 Fix typos
  object/src/file.rs
  object/src/lib.rs
  object/src/ops.rs
  storescp/src/store_async.rs
  storescp/src/store_sync.rs
Labels: A-lib, A-tool, C-object, C-storescp

#615 Add support for non-finite float handling in DICOM JSON
  json/src/de/mod.rs
  json/src/lib.rs
  json/src/ser/value.rs
Labels: bug, A-lib, C-json

#614 Add character sets: Arabic, Greek, Hebrew, Japanese, Thai, Korean
  encoding/src/text.rs
Labels: enhancement, A-lib, C-encoding
