Repository Enet4/dicom-rs, pull requests merged in 2024-11, with the labels that each got.

#592 Rework API adaptation in `dicom_ul`
  ul/src/association/client.rs
  ul/src/pdu/reader.rs
Labels: enhancement, breaking change, A-lib, C-ul

#590 Fix issues around `dicom_ul::get_client_pdu`
  Cargo.lock
  scpproxy/Cargo.toml
  scpproxy/src/main.rs
  ul/src/association/client.rs
Labels: bug, A-lib, C-ul, C-scpproxy

#593 [encoding] Clarify behavior of pixel data decoding in single sample per pixel
  encoding/src/adapters.rs
Labels: A-lib, C-encoding

#594 [dictionary-std] Update DICOM tag dictionary again
  dictionary-std/src/tags.rs
Labels: breaking change, A-lib, C-dictionary

#587 Set minimal rust version to 1.72.0
  .github/workflows/rust.yml
  README.md
  clippy.toml
  core/Cargo.toml
  dictionary-std/Cargo.toml
  dump/Cargo.toml
  encoding/Cargo.toml
  fromimage/Cargo.toml
  object/Cargo.toml
  object/src/lib.rs
  object/src/mem.rs
  parent/Cargo.toml
  parser/Cargo.toml
  parser/src/stateful/decode.rs
  pixeldata/Cargo.toml
  pixeldata/src/attribute.rs
  toimage/Cargo.toml
  transfer-syntax-registry/Cargo.toml
  ul/Cargo.toml
Labels: A-lib, A-meta

#591 Update implementation class UID and version name (0.8.0)
  object/src/lib.rs
  ul/src/lib.rs
Labels: A-lib

#600 Correctly return the first element of the array
  pixeldata/src/lib.rs
Labels: bug, A-lib, C-pixeldata

#596 MAIN: Add test for connect timeout
  Cargo.lock
  ul/Cargo.toml
  ul/tests/association.rs
Labels: chore, A-lib, C-ul
