Repository Enet4/dicom-rs, pull requests merged in 2024-07, with the labels that each got.

#526 Improve value ergonomics and improve performance of TryFrom around date/time types
  core/src/value/mod.rs
  core/src/value/partial.rs
Labels: enhancement, A-lib, C-core

#530 MAIN: Add read/write timeout options for ClientAssociation
  ul/src/association/client.rs
Labels: enhancement, C-ul

#531 Lint (2024-07)
  core/src/value/deserialize.rs
  core/src/value/range.rs
  encoding/src/transfer_syntax/mod.rs
  json/src/ser/mod.rs
  object/src/mem.rs
  object/src/meta.rs
  parser/src/stateful/encode.rs
  pixeldata/src/lib.rs
  pixeldata/src/lut.rs
  toimage/src/main.rs
  ul/src/lib.rs
Labels: chore

#529 [findscu] Add query_file argument
  findscu/README.md
  findscu/src/main.rs
Labels: enhancement, A-tool, C-findscu

#532 Tweak toimage
  toimage/README.md
  toimage/src/main.rs
Labels: enhancement, chore, A-tool, C-toimage

#520 [storescu] prefer file's transfer syntax
  storescu/src/main.rs
Labels: enhancement, A-tool, C-storescu

#539 [toimage] Fix error reporting without --fail-first
  toimage/src/main.rs
Labels: bug, A-tool, C-toimage

#541 Infer Media Storage SOP Class UID and Media Storage SOP Instance UID from the SOP Class UID and SOP Instance UID when missing
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
Labels: enhancement, A-lib, C-object

#546 Raise a recoverable error when trying to serialize encapsulated pixel data
  json/src/ser/mod.rs
Labels: bug, A-lib, C-json

#548 [parser] Turn illegal item header parse into recoverable error
  parser/src/dataset/read.rs
Labels: bug, A-lib, C-parser

#536 Default to None if voilut is not present
  pixeldata/src/attribute.rs
Labels: A-lib, C-pixeldata
