Repository Enet4/dicom-rs, pull requests merged in 2024-10, with the labels that each got.

#562 Fixes discrepancy between multi and single frame decode_pixel_data
  pixeldata/src/gdcm.rs
Labels: bug, A-lib, C-pixeldata

#566 Adjust file meta information group length calculation
  object/src/meta.rs
Labels: bug, A-lib, C-object

#567 [parser] Add configurable strategy for handling odd length data elements
  object/fuzz/fuzz_targets/open_file.rs
  object/src/file.rs
  object/src/mem.rs
  parser/src/dataset/read.rs
Labels: enhancement, A-lib, C-object, C-parser

#569 - add connection timeout
  ul/src/association/client.rs
Labels: enhancement, A-lib, C-ul

#570 Client Association connection timeout working
  ul/src/association/client.rs
Labels: A-lib, C-ul

#572 Update meta information group length in dicom-transcode + add FileDicomObject::update_meta
  object/src/lib.rs
  pixeldata/src/bin/dicom-transcode.rs
Labels: bug, enhancement, A-tool, C-object, C-pixeldata

#576 [pixeldata] Handle empty NumberOfFrames tags
  pixeldata/src/attribute.rs
Labels: enhancement, A-lib, C-pixeldata

#573 [ts-registry] Add JPEG-LS pixel data encoder
  toimage/src/main.rs
  transfer-syntax-registry/src/adapters/jpegls.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/jpegls.rs
Labels: A-lib, C-transfer-syntax, C-toimage

#542 ENH: Add POC async implementation, example using storescp
  .github/workflows/rust.yml
  Cargo.lock
  scpproxy/src/main.rs
  storescp/Cargo.toml
  storescp/src/main.rs
  storescp/src/store_async.rs
  storescp/src/store_sync.rs
  storescu/Cargo.toml
  storescu/out.json
  storescu/src/main.rs
  storescu/src/store_async.rs
  storescu/src/store_sync.rs
  ul/Cargo.toml
  ul/src/address.rs
  ul/src/association/client.rs
  ul/src/association/mod.rs
  ul/src/association/pdata.rs
  ul/src/association/server.rs
  ul/src/lib.rs
  ul/src/pdu/mod.rs
  ul/src/pdu/reader.rs
  ul/src/pdu/writer.rs
  ul/test.json
  ul/tests/association_echo.rs
  ul/tests/association_promiscuous.rs
  ul/tests/association_store.rs
  ul/tests/association_store_uncompressed.rs
  ul/tests/pdu.rs
Labels: A-lib, A-tool, C-ul, C-storescu, C-storescp

#578 [dictionary-std] Update tags and uids
  dictionary-std/src/tags.rs
  dictionary-std/src/uids.rs
Labels: A-lib, C-dictionary

#574 Create nested sequences recursively in constructive operations
  findscu/README.md
  object/src/mem.rs
Labels: A-lib, A-tool, C-object, C-findscu

#579 [fromimage] Add --encapsulate option
  fromimage/README.md
  fromimage/src/main.rs
  pixeldata/README.md
Labels: enhancement, A-tool, C-fromimage

#571 [ts-registry] Add JPEG XL transfer syntaxes
  .github/workflows/rust.yml
  Cargo.lock
  pixeldata/Cargo.toml
  pixeldata/README.md
  pixeldata/src/bin/dicom-transcode.rs
  toimage/Cargo.toml
  toimage/src/main.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpegxl.rs
  transfer-syntax-registry/src/adapters/mod.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/jpegxl.rs
Labels: A-lib, C-transfer-syntax, new

#575 [pixeldata] Add support for PixelFirst planar configuration (#129)
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#499 Add HTJ2K transfer syntaxes
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
Labels: enhancement, A-lib, C-transfer-syntax

#580 Clippy linting (2024-10)
  core/src/dictionary/data_element.rs
  core/src/dictionary/stub.rs
  core/src/dictionary/uid.rs
  core/src/header.rs
  core/src/value/person_name.rs
  core/src/value/primitive.rs
  dictionary-std/src/data_element.rs
  encoding/src/decode/mod.rs
  encoding/src/text.rs
  encoding/src/transfer_syntax/mod.rs
  json/src/ser/mod.rs
  json/src/ser/value.rs
  object/src/mem.rs
  parser/src/stateful/decode.rs
  parser/src/stateful/encode.rs
  pixeldata/src/lib.rs
  ul/src/association/client.rs
  ul/src/association/server.rs
Labels: chore, A-lib, C-object, C-encoding, C-parser, C-dictionary, C-core, C-pixeldata, C-ul, C-json

#581 Update dependencies (2024-10)
  Cargo.lock
  dump/Cargo.toml
  object/fuzz/Cargo.lock
  pixeldata/Cargo.toml
  pixeldata/fuzz/Cargo.lock
  ul/fuzz/Cargo.lock
Labels: chore

#582 [ul] Recover API compatibility with 0.7.1
  ul/src/association/client.rs
  ul/src/association/mod.rs
  ul/src/pdu/reader.rs
  ul/src/pdu/writer.rs
Labels: bug, chore, A-lib, C-ul

#583 [parser] Recover API compatibility with 0.7.1
  parser/src/dataset/read.rs
Labels: bug, chore, A-lib, C-parser

#584 Update implementation class UID and version name
  object/src/lib.rs
  ul/src/lib.rs
Labels: A-lib, C-object, C-ul
