Repository Enet4/dicom-rs, pull requests merged in 2024-08, with the labels that each got.

#552 BUG: Use only odd presentation context IDs
  ul/src/association/client.rs
  ul/tests/association_echo.rs
  ul/tests/association_store.rs
  ul/tests/association_store_uncompressed.rs
Labels: bug, A-lib, C-ul

#549 [ts-registry] simplify JPEG single frame decoding
  toimage/src/main.rs
  transfer-syntax-registry/src/adapters/jpeg.rs
  transfer-syntax-registry/tests/jpeg.rs
Labels: bug, A-lib, C-transfer-syntax, jpeg

#440 [dicom-dump] Add json output format
  Cargo.lock
  dump/Cargo.toml
  dump/src/lib.rs
  dump/src/main.rs
  echoscu/src/main.rs
  json/src/ser/mod.rs
Labels: enhancement, A-tool, C-dump

#534 Add support for JPEG-LS decoding
  .github/workflows/rust.yml
  Cargo.lock
  pixeldata/Cargo.toml
  pixeldata/src/lib.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/jpegls.rs
  transfer-syntax-registry/src/adapters/mod.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
Labels: enhancement, A-lib, C-transfer-syntax
