Repository Enet4/dicom-rs, pull requests merged in 2024-04, with the labels that each got.

#491 Update image lib
  Cargo.lock
  fromimage/Cargo.toml
  pixeldata/Cargo.toml
Labels: A-lib, C-pixeldata, C-toimage

#487 Improve storescp to handle multiple p-data values
  storescp/src/main.rs
Labels: bug, A-tool, C-storescp

#489 [encoding] Make SpecificCharacterSet opaque
  encoding/src/text.rs
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
  object/tests/integration_test.rs
  parser/src/dataset/lazy_read.rs
  parser/src/dataset/mod.rs
  parser/src/dataset/read.rs
  parser/src/dataset/write.rs
  parser/src/stateful/decode.rs
  parser/src/stateful/encode.rs
Labels: breaking change, A-lib, C-encoding

#488 [ul] (break) improve Pdu::short_description
  ul/src/pdu/mod.rs
Labels: enhancement, breaking change, A-lib, C-ul

#478 Implement virtual VR concept in data element dictionary entries
  core/src/dictionary/data_element.rs
  core/src/dictionary/mod.rs
  devtools/dictionary-builder/src/tags.rs
  dictionary-std/src/data_element.rs
  dictionary-std/src/tags.rs
  encoding/src/decode/implicit_le.rs
  findscu/src/query.rs
  object/src/mem.rs
  parser/src/stateful/decode.rs
Labels: breaking change, A-lib, C-dictionary, C-core, C-dictionary-builder

#494 [parser] add ::new_with_ts functions
  object/src/lib.rs
  object/src/mem.rs
  parser/src/dataset/read.rs
  parser/src/dataset/write.rs
Labels: enhancement, A-lib, C-object, C-parser

#472 [json] Skip bulk data URI when deserializing JSON
  Cargo.lock
  json/Cargo.toml
  json/src/de/mod.rs
Labels: enhancement, A-lib, C-json

#402 add: User identity negotiation
  storescu/README.md
  storescu/src/main.rs
  ul/src/association/client.rs
  ul/src/association/server.rs
  ul/src/pdu/mod.rs
  ul/src/pdu/reader.rs
  ul/src/pdu/writer.rs
  ul/tests/pdu.rs
Labels: breaking change, A-lib, A-tool, C-ul, C-storescu

#471 ENH: Add functionality for mutating element values
  object/src/mem.rs
Labels: enhancement, A-lib, C-object

#495 [dictionary-builder] update heck to 0.5
  Cargo.lock
  devtools/dictionary-builder/Cargo.toml
Labels: chore, C-dictionary-builder

#496 Fix pixel sample rearrangement in RLE lossless
  Cargo.lock
  json/Cargo.toml
  object/Cargo.toml
  pixeldata/Cargo.toml
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/rle_lossless.rs
  transfer-syntax-registry/tests/rle.rs
Labels: bug, A-lib, C-transfer-syntax

#497 Change PixelDataObject and improve JPEG encoding attribute hinting
  encoding/src/adapters.rs
  object/src/lib.rs
  transfer-syntax-registry/src/adapters/jpeg.rs
  transfer-syntax-registry/tests/adapters/mod.rs
  transfer-syntax-registry/tests/jpeg.rs
  transfer-syntax-registry/tests/rle.rs
Labels: breaking change, A-lib, C-encoding, C-transfer-syntax, jpeg

#498 Change monochrome reinterpretation requirements from pixel data readers
  encoding/src/adapters.rs
  pixeldata/src/lib.rs
Labels: bug, breaking change, A-lib, C-encoding, C-pixeldata

#502 Bump jpeg2k dependency
  .github/workflows/rust.yml
  Cargo.lock
  transfer-syntax-registry/Cargo.toml
Labels: A-lib, C-transfer-syntax

#467 [json] Update base64 to 0.22
  Cargo.lock
  json/Cargo.toml
Labels: enhancement, A-lib, C-json

#505 Maintenance lint fixes
  core/src/header.rs
  core/src/ops.rs
  encoding/src/transfer_syntax/mod.rs
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
  pixeldata/src/attribute.rs
  pixeldata/src/lib.rs
  transfer-syntax-registry/src/lib.rs
  ul/src/association/client.rs
  ul/src/association/mod.rs
  ul/src/association/server.rs
  ul/src/lib.rs
Labels: chore

#506 [ts-registry] Bump jpeg2k to 0.7
  Cargo.lock
  transfer-syntax-registry/Cargo.toml
Labels: A-lib, C-transfer-syntax

#509 [dictionary-std] Update dictionary entries
  dictionary-std/src/tags.rs
  dictionary-std/src/uids.rs
Labels: breaking change, A-lib, C-dictionary

#500 Add promiscuous mode for ServerAssociation
  ul/src/association/server.rs
  ul/tests/association_promiscuous.rs
Labels: enhancement, A-lib, C-ul

#508 ENH: Add lookup and putting of private elements
  Cargo.lock
  object/src/lib.rs
  object/src/mem.rs
Labels: enhancement, A-lib, C-object

#510 [storescp] Update CLI app arguments
  storescp/src/main.rs
Labels: enhancement, A-tool, C-storescp

#507 Dependency updates
  Cargo.lock
  object/fuzz/Cargo.lock
  object/fuzz/Cargo.toml
  pixeldata/Cargo.toml
  pixeldata/fuzz/Cargo.lock
  pixeldata/fuzz/Cargo.toml
  ul/fuzz/Cargo.lock
  ul/fuzz/Cargo.toml
Labels: chore
