Repository Enet4/dicom-rs, pull requests merged in 2024-03, with the labels that each got.

#459 [json] Allow arbitrary element order for JsonDataElement
  json/src/de/mod.rs
Labels: A-lib, C-json

#464 [json] Allow null for string values
  json/src/de/mod.rs
Labels: bug, A-lib, C-json

#462 Bug/460
  parser/src/stateful/decode.rs
Labels: bug, A-lib, C-parser

#474 Handle Pdu::AbortRQ in dicom-storescp
  storescp/src/main.rs
Labels: enhancement, A-tool, C-storescp

#475 Replace hard-coded UIDs in transfer.rs with dicom_dictionary_std::uids::*
  storescp/src/transfer.rs
Labels: enhancement, A-tool, C-storescp

#466 [dump] Remove term_size in favor of terminal_size
  Cargo.lock
  dump/Cargo.toml
  dump/src/lib.rs
  dump/src/main.rs
Labels: C-dump

#482 Code cleanup (beta toolchain checks)
  core/src/dictionary/data_element.rs
  core/src/header.rs
  core/src/lib.rs
  core/src/value/deserialize.rs
  core/src/value/mod.rs
  core/src/value/partial.rs
  encoding/src/decode/explicit_be.rs
  encoding/src/decode/explicit_le.rs
  encoding/src/decode/implicit_le.rs
  encoding/src/decode/mod.rs
  encoding/src/encode/explicit_be.rs
  encoding/src/encode/explicit_le.rs
  encoding/src/encode/implicit_le.rs
  encoding/src/encode/mod.rs
  json/src/ser/mod.rs
  json/src/ser/value.rs
  object/src/lib.rs
  object/src/mem.rs
  object/src/util.rs
  object/tests/integration_test.rs
  parser/src/dataset/read.rs
  parser/src/dataset/write.rs
  parser/src/stateful/decode.rs
  parser/src/util.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
  pixeldata/src/transcode.rs
  transfer-syntax-registry/src/adapters/rle_lossless.rs
Labels: chore, A-lib, C-encoding

#469 [parent] Re-export more Cargo features from pixeldata
  parent/Cargo.toml
  parent/README.md
Labels: enhancement, A-lib, C-parent

#450 Migrate snafu to 0.8
  .github/workflows/rust.yml
  Cargo.lock
  core/Cargo.toml
  core/src/value/primitive.rs
  dump/Cargo.toml
  echoscu/Cargo.toml
  encoding/Cargo.toml
  findscu/Cargo.toml
  fromimage/Cargo.toml
  object/Cargo.toml
  object/src/lib.rs
  parent/Cargo.toml
  parser/Cargo.toml
  pixeldata/Cargo.toml
  pixeldata/src/attribute.rs
  scpproxy/Cargo.toml
  storescp/Cargo.toml
  storescu/Cargo.toml
  storescu/src/main.rs
  toimage/Cargo.toml
  ul/Cargo.toml
Labels: breaking change, A-lib

#468 Update gdcm-rs to 0.6
  Cargo.lock
  pixeldata/Cargo.toml
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#437 ENH: Add lookups into shared/per frame functional groups
  pixeldata/src/attribute.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#481 [findscu] Fix nonconforming status matching in response objects
  findscu/src/main.rs
Labels: bug, C-findscu

#458 Remove deprecated contents
  core/src/value/person_name.rs
  encoding/src/text.rs
  object/src/mem.rs
  parser/src/dataset/read.rs
  parser/src/stateful/encode.rs
Labels: breaking change, A-lib

#484 [ul] Fix docs in ClientAssociation
  ul/src/association/client.rs
Labels: A-lib, C-ul

#485 Extend type parameter list in `FileMetaTable.set_transfer_syntax`
  object/src/meta.rs
  pixeldata/src/transcode.rs
Labels: breaking change, A-lib, C-object, C-pixeldata

#456 Add function for changing charset with unit test.
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
  object/src/tokens.rs
  parser/src/dataset/mod.rs
Labels: bug, breaking change, C-object
