Repository Enet4/dicom-rs, pull requests merged in 2025-01, with the labels that each got.

#622 Return in ClientAssociation also User Variables
  ul/src/association/client.rs
  ul/tests/association_promiscuous.rs
Labels: enhancement, A-lib, C-ul

#624 fix(scp): use max_pdu_length method to set the value
  storescp/src/store_async.rs
  storescp/src/store_sync.rs
Labels: bug, A-tool, C-storescp

#627 [findscu][scpproxy][storescp][storescu] Pre-validate max PDU length option
  findscu/src/main.rs
  scpproxy/src/main.rs
  storescp/src/main.rs
  storescu/src/main.rs
Labels: A-tool, C-storescu, C-storescp, C-findscu, C-scpproxy

#628 [parser] Add robustness to data element token writing
  parser/src/dataset/mod.rs
Labels: A-lib, C-parser

#629 [core] Prevent panic on From<Vec<Fragments>> for PixelFragmentSequence with an empty vector
  core/src/value/fragments.rs
Labels: bug, A-lib, C-core
