Repository Enet4/dicom-rs, pull requests merged in 2025-06, with the labels that each got.

#654 Support bits_allocated == 1
  pixeldata/src/lib.rs
Labels: A-lib, C-pixeldata

#599 [pixeldata] Apply VOI LUT when rendering images
  pixeldata/src/attribute.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
  pixeldata/src/lut.rs
  pixeldata/src/transform.rs
Labels: enhancement, A-lib, C-pixeldata

#655 Clippy lint fix for v1.88
  core/src/header.rs
  core/src/ops.rs
  core/src/value/deserialize.rs
  core/src/value/mod.rs
  core/src/value/partial.rs
  core/src/value/person_name.rs
  core/src/value/primitive.rs
  core/src/value/range.rs
  core/src/value/serialize.rs
  devtools/dictionary-builder/src/tags.rs
  devtools/dictionary-builder/src/uids.rs
  dictionary-std/src/data_element.rs
  dictionary-std/src/sop_class.rs
  dump/src/lib.rs
  encoding/src/adapters.rs
  encoding/src/decode/explicit_be.rs
  encoding/src/decode/explicit_le.rs
  encoding/src/decode/implicit_le.rs
  encoding/src/encode/basic.rs
  encoding/src/encode/explicit_be.rs
  encoding/src/encode/explicit_le.rs
  encoding/src/encode/implicit_le.rs
  encoding/src/encode/mod.rs
  encoding/src/transfer_syntax/mod.rs
  findscu/src/main.rs
  fromimage/src/main.rs
  json/src/de/mod.rs
  json/src/de/value.rs
  json/src/ser/mod.rs
  json/src/ser/value.rs
  object/src/lib.rs
  object/src/mem.rs
  object/src/meta.rs
  parser/src/dataset/lazy_read.rs
  parser/src/dataset/mod.rs
  parser/src/dataset/read.rs
  parser/src/stateful/decode.rs
  parser/src/stateful/encode.rs
  parser/src/util.rs
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
  pixeldata/src/lut.rs
  scpproxy/src/main.rs
  toimage/src/main.rs
  transfer-syntax-registry/src/adapters/jpeg.rs
  transfer-syntax-registry/src/adapters/jpegxl.rs
  transfer-syntax-registry/tests/adapters/mod.rs
  transfer-syntax-registry/tests/jpeg.rs
  transfer-syntax-registry/tests/jpegxl.rs
  transfer-syntax-registry/tests/rle.rs
  transfer-syntax-registry/tests/submit_replace_precondition.rs
  ul/src/address.rs
  ul/src/association/client.rs
  ul/src/association/pdata.rs
  ul/src/association/server.rs
  ul/src/pdu/mod.rs
  ul/tests/association.rs
  ul/tests/pdu.rs
Labels: chore, C-object, C-encoding, C-parser, C-dictionary, C-core, C-pixeldata, C-transfer-syntax, C-ul, C-fromimage, C-dictionary-builder, C-dump, C-toimage, C-findscu, C-json, C-scpproxy
