Repository Enet4/dicom-rs, pull requests merged in 2025-10, with the labels that each got.

#677 Refactor association establishment and fix #589
  Cargo.lock
  findscu/src/main.rs
  scpproxy/src/main.rs
  storescp/src/store_async.rs
  storescp/src/store_sync.rs
  storescu/src/main.rs
  ul/Cargo.toml
  ul/src/association/client.rs
  ul/src/association/mod.rs
  ul/src/association/server.rs
  ul/src/association/tests.rs
  ul/tests/association.rs
  ul/tests/association_promiscuous.rs
Labels: bug, breaking change, A-lib, A-tool, C-ul, C-storescu, C-storescp, C-findscu, C-scpproxy

#696 [dictionary-std] update data element and uid dictionaries
  dictionary-std/src/tags.rs
  dictionary-std/src/uids.rs
Labels: breaking change, A-lib, C-dictionary

#693 [parser] Do not clear length of pixel data fragment item starts
  object/src/mem.rs
  parser/src/dataset/write.rs
Labels: bug, A-lib, C-parser

#697 Update ndarray and rstest
  Cargo.lock
  pixeldata/Cargo.toml
  ul/Cargo.toml
Labels: breaking change, A-lib, C-pixeldata, C-ul

#689 Revise association maximum PDU length handling
  findscu/src/main.rs
  scpproxy/src/main.rs
  storescp/src/main.rs
  storescu/src/main.rs
  ul/src/association/client.rs
  ul/src/association/pdata.rs
  ul/src/association/server.rs
  ul/src/pdu/mod.rs
  ul/src/pdu/reader.rs
Labels: bug, enhancement, breaking change, A-lib, A-tool, C-ul, C-storescu, C-storescp, C-findscu, C-scpproxy

#685 Add ServerAssociation::requestor/acceptor_max_pdu_length()
  ul/src/association/server.rs
  ul/tests/association_echo.rs
Labels: enhancement, A-lib, C-ul

#695 Update implementation class UID and version name for v0.9.0
  object/src/lib.rs
  ul/src/lib.rs
Labels: A-lib, C-object, C-ul
