Repository Enet4/dicom-rs, pull requests merged in 2025-02, with the labels that each got.

#632 Fallback to shared groups on missing per frame tag
  pixeldata/src/attribute.rs
Labels: A-lib, C-pixeldata

#638 [encoding] Clippy lint fix (2025-02)
  encoding/src/decode/basic.rs
  json/src/de/mod.rs
  object/src/mem.rs
  parser/src/stateful/decode.rs
  transfer-syntax-registry/src/adapters/jpeg.rs
Labels: chore, A-lib, C-encoding

#637 [dump] Add CLI option read_until
  dump/src/main.rs
Labels: enhancement, A-tool, C-dump
