Repository Enet4/dicom-rs, pull requests merged in 2025-07, with the labels that each got.

#659 Suppress warning when called_ae_title matches AE title from address
  ul/src/association/client.rs
Labels: enhancement, A-lib, C-ul

#660 [pixeldata] Use another error variant to report length mismatch of VOI LUT
  pixeldata/src/lib.rs
Labels: chore, A-lib, C-pixeldata

#665 Add DicomTime::millisecond
  core/src/value/partial.rs
  core/src/value/primitive.rs
  core/src/value/range.rs
Labels: enhancement, A-lib, C-core

#661 [pixeldata] make pixeldata error type truly opaque
  pixeldata/src/gdcm.rs
  pixeldata/src/lib.rs
Labels: breaking change, A-lib, C-pixeldata

#438 Baseline support for deflate transfer syntaxes with dataset adapter rewrite
  Cargo.lock
  encoding/src/transfer_syntax/mod.rs
  object/Cargo.toml
  object/src/lib.rs
  object/src/mem.rs
  pixeldata/Cargo.toml
  pixeldata/src/lib.rs
  pixeldata/src/transcode.rs
  storescu/src/main.rs
  transfer-syntax-registry/Cargo.toml
  transfer-syntax-registry/src/adapters/encapsulated.rs
  transfer-syntax-registry/src/deflate.rs
  transfer-syntax-registry/src/entries.rs
  transfer-syntax-registry/src/lib.rs
  transfer-syntax-registry/tests/deflate.rs
  transfer-syntax-registry/tests/submit_dataset.rs
  transfer-syntax-registry/tests/submit_replace.rs
  transfer-syntax-registry/tests/submit_replace_precondition.rs
Labels: breaking change, A-lib, C-object, C-pixeldata, C-transfer-syntax
